html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.header {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    box-shadow: 1px 1px 1px grey;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #525252;
    color: #fff;
    font-family: sans-serif;
}

.dayBar {
    width: 100%;
    height: 100%;
    margin: 170px 0;
    padding: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    margin: 100px 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #fff;
    box-shadow: 0.5px 0.5px 0.5px grey;
    background-color: #525252;
}

.listOfDays {
    padding: 10px;
    margin-top: -500px;
}

.listOfDays>li{
    display: inline-flex;
    width: 80px;
    height: 50px;
    text-align: center;
    border: 0.1px solid rgba(225,211,247, 0.7);
    justify-content: center;
    padding: 10px 0;
    margin: 10px 10px 0px 0px;
    box-shadow: 1px 1px 1px grey;
    font-family: sans;
    font-size: 13px;
}

.listOfDays>li p {
    padding: 5px 0;
    transform: rotate(-20deg);
    transition: 1s ease-in-out;
}

.inputs {
    margin: -20px 0;
    position: absolute;
    padding: 0;
    width: 65%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #525252;
    color: #fff;
    text-shadow: 0.5px 0.5px 1px black;
    box-shadow: 1px 1px 1px grey;
    border-radius: 0.5em;
}

h5 {
    position: absolute;
    font-size: 16px;
    font-family: sans-serif;
    margin: -60px 0;
    padding: 10px;
}

#labelFirst {
    margin-left: 23px;
}

#labelFirst, #labelSecond {
    font-family: sans-serif;
    font-size: 14px;
    padding-right: 10px;
}

#labelFirst, #firstDate {
    margin: 10px 0;
}

#labelFirst, #firstDate {
    margin: 10px 0;
}


.key {
	border: 1px solid #525252;
    width: 500px;
    height: 50px;
    position: absolute;
    margin: 100px 0;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key>table td {
	font-size: 14px;
	font-family: sans-serif;
	padding-left: 10px;
	width: 100px;
	display: inline-block;
}

.circleOne {
    border-radius: 0.9em;
	width: 16px;
	height: 16px;
    background-color: #76baff;
	margin-left: 20px;
}

.circleTwo {
    border-radius: 0.9em;
    width: 16px;
    height: 16px;
    background-color: #ea6b6b;
	margin-left: 40px;
}

.circleThree {
    border-radius: 0.9em;
    width: 16px;
    height: 16px;
    background-color: #009933;
	margin-left: 50px;
}


/*------------class being added-------------------*/
.selectedBlue {
    background: #76baff;
    color: white;
    transition: 300ms ease-in-out;
	animation: scaleUp 300ms ease-in-out 1;
}

.selectedRed {
    background-color: #ea6b6b;
    color: white;
    transition: 300ms ease-in-out;
	animation: scaleUp 300ms ease-in-out 1;
}

.matched {
    background-color: #009933;
    color: white;
	transition: 100ms ease-in-out;
	transform: translate3d(0, 0, 0);
	animation: shake 300ms ease-in-out 1;
}

@keyframes scaleUp {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}